


body {
    background-color: lightblue;
  }

.hidden {
    display: none;
}


#create-list-form-button {
    position: absolute;	
    top: 30px;
    right: 80px;
    width: 100px;
}

#navigation {
    position: static;	
    top: 10px;
    left: 0px;
    width: 100px;
}

#form-container {
    text-align: center;
    border: 1px solid grey;
    display: auto;
   
}


